<div id="aulas">
  
  <div class="container">

    <center>
      <h2 class="text-dark">Instrumentos Musicais</h2>
      <h4 class="text-muted">Aulas</h4>
    </center>

    <div class="row" style="margin-top: 70px">
      
      <div class="col-md-3">
        
        <div class="card card-aulas">
          <center> 
            <%= image_tag 'violao.png'%>
            <p>
              <h4 class="text-dark">Violão</h4> 
            </p>
            <p class="text-secondary">
            Some quick example text to build on the card.
            </p>
          </center>
        </div>

      </div>

      <div class="col-md-3">

        <div class="card card-aulas">
          <center> 
            <%= image_tag 'baixo.png'%>
            <p>
              <h4 class="text-dark">Baixo</h4> 
            </p>
            <p class="text-secondary">
            Some quick example text to build on the card.
            </p>
          </center>
        </div>

      </div>

      <div class="col-md-3">

        <div class="card card-aulas">
          <center> 
            <%= image_tag 'canto.png'%>
            <p>
              <h4 class="text-dark">Canto</h4> 
            </p>
            <p class="text-secondary">
            Some quick example text to build on the card.
            </p>
          </center>
        </div>

      </div>

      <div class="col-md-3">

        <div class="card card-aulas">
          <center> 
            <%= image_tag 'guitarra.png'%>
            <p>
              <h4 class="text-dark">Guitarra</h4> 
            </p>
            <p class="text-secondary">
            Some quick example text to build on the card.
            </p>
          </center>
        </div>
      </div>

    </div>

    <div class="row">
      
      <div class="col-md-3">
        
        <div class="card card-aulas">
          <center> 
            <%= image_tag 'bateria.png'%>
            <p>
              <h4 class="text-dark">Bateria</h4> 
            </p>
            <p class="text-secondary">
            Some quick example text to build on the card.
            </p>
          </center>
        </div>

      </div>

      <div class="col-md-3">

        <div class="card card-aulas">
          <center> 
            <%= image_tag 'teclado.png'%>
            <p>
              <h4 class="text-dark">Teclado</h4> 
            </p>
            <p class="text-secondary">
            Some quick example text to build on the card.
            </p>
          </center>
        </div>

      </div>

      <div class="col-md-3">

        <div class="card card-aulas">
          <center> 
            <%= image_tag 'acordion.png'%>
            <p>
              <h4 class="text-dark">Acordeon</h4> 
            </p>
            <p class="text-secondary">
            Some quick example text to build on the card.
            </p>
          </center>
        </div>

      </div>

      <div class="col-md-3">

        <div class="card card-aulas">
          <center> 
            <%= image_tag 'coral.png'%>
            <p>
              <h4 class="text-dark">Canto Coral</h4> 
            </p>
            <p class="text-secondary">
            Some quick example text to build on the card.
            </p>
          </center>
        </div>
      </div>

    </div>

  </div>
</div>