  <div id="carouselCommenters" class="carousel slide carousel" data-ride="carousel">
    <div class="carousel-inner">
     <% if !@comments.nil? %>
        <div class="carousel-item active">
          <div class="card card-comments">
            <center>
              <% if @comments.first.image.attached? %> 
                <%= image_tag @comments.first.image, class: 'img-comments', width: '100px'%>
              <% end %>
                <p >
                  <h4 class="text-white">
                    <%= @comments.first.comment%>
                  <h4>
                </p>
                <p>
                  <h4 class="text-info"><%= @comments.first.name %></h4> 
                </p>
            </center>
          </div>
        </div>

        <% @comments.each do |comment| %>
          <% if @comments.first.id != comment.id%>
            <div class="carousel-item">
              <div class="card card-comments">
                <center>
                  <% if comment.image.attached? %>
                    <%= image_tag comment.image, class: 'img-comments', width: '100px'%>
                  <% end %>
                  <p >
                    <h4 class="text-white">
                      <%= comment.comment%>
                    <h4>
                  </p>
                  <p>
                    <h4 class="text-info"><%= comment.name %></h4> 
                  </p>
                </center>
              </div>
            </div>
          <% end %>
        <% end %>
        
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>