<div id="contato">

  <div class="container d-flex justify-content-around">
        
    <div id="endereco" class="contato-item">
      <p> <h4 class="text-white">Endereço</h4> </p>
      <div class="d-flex justify-content-around">
        <div class="contato-img">
          <%= image_tag ('address.png'), width: '50px'%>
        </div>
        <div class="contato-text">
          <%= @contact.rua%>, <%= @contact.numero%><br />
          <%= @contact.cidade%> - <%= @contact.uf%><br />
        </div>
      </div>
    </div>

    <div id="telefone" class="contato-item">
      <p> <h4 class="text-white">Contato</h4> </p>
      <div class="d-flex justify-content-around">
        <div class="contato-img">
          <%= image_tag ('contact.png'), width: '50px', class: 'img-contato'%>
        </div>
        <div class="contato-text">
         <%= @contact.whatsapp%> / <%= @contact.phone_fixed %> <br />
          E-mail: <%= @contact.email %> <br />
        </div>
      </div>
    </div>

    <div id="atendimento" class="contato-item">
      <p><h4 class="text-white">Atendimento</h4></p>
      <div class="d-flex justify-content-around">
        <div class="contato-img">
          <%= image_tag ('clock.png'), width: '50px'%>
        </div>
        <div class="contato-text">
          Segunda - Sexta: <%= @contact.att_week %> <br />
          Sábado: <%= @contact.att_weekend %>
        </div>
      </div>
    </div>

    <div id="social" class="contato-item">
        <p><h4 class="text-white">Mídias Sociais</h4></p>
        <div class="contato-img">
        </div>
        <div class="contato-text ">
          <%= link_to image_tag('fb.png', width: '50px'), @contact.instagram, target: :_blank%>
          <%= link_to image_tag('instragram.png', width: '50px'), @contact.instagram, target: :_blank %>
        </div>
    </div>
  
  </div>
</div>