<div id="teachers">

  <div class="container">
    

    <center>
      <h2 class="text-dark">Professores em Destaque</h2>
      <h4 class="text-muted">Colaboradores</h4>
    </center>

    <div class="row" style="margin-top: 70px">
      
      <div class="col-md-4">
        
        <div class="card card-teachers">
          <center> 
            <%= image_tag 'prof1.jpg' , class: "card-img-top img-teachers", width: '60px' %>
            <h4 class="text-info">TLouis Van</h4> 
            <div class="text-secondary">
              Guitar teacher
            </div>
            <div class="d-flex justify-content-center"> 
              <%= link_to image_tag('fb.png', width: '30px'), '#'%>
              <%= link_to image_tag('instragram.png', width: '30px'), '#'%>
            </div>
          </center>
        </div>

      </div>

      <div class="col-md-4">
        <div class="card card-teachers">
          <center> 
            <%= image_tag 'prof2.jpg' , class: "card-img-top img-teachers", width: '60px' %>
            <h4 class="text-info">TLouis Van</h4> 
            <div class="text-secondary">
              Guitar teacher
            </div>
            <div class="d-flex justify-content-center"> 
              <%= link_to image_tag('fb.png', width: '30px'), '#'%>
              <%= link_to image_tag('instragram.png', width: '30px'), '#'%>
            </div>
          </center>
        </div>

      </div>

      <div class="col-md-4">

       <div class="card card-teachers">
          <center> 
            <%= image_tag 'prof3.jpg' , class: "card-img-top img-teachers", width: '60px' %>
            <h4 class="text-info">TLouis Van</h4> 
            <div class="text-secondary">
              Guitar teacher
            </div>
            <div class="d-flex justify-content-center"> 
              <%= link_to image_tag('fb.png', width: '30px'), '#'%>
              <%= link_to image_tag('instragram.png', width: '30px'), '#'%>
            </div>
          </center>
        </div>

      </div>

    </div>


  </div>

</div>