<%= render 'layouts/header' %>
<%= render 'layouts/carousel' %>

<div id="about-us-link"></div>
<%= render 'aboutUs' %>

<div id="turmas-link"></div>
<%= render 'turmas' %>

<div id="eventos-link"></div>
<%= render 'videos' %>

<div id="aulas-link"></div>
<%= render 'aulas' %>

<%= render 'commenters' %>

<div id="professores-link"></div>
<%= render 'teachers' %>

<div id="contato-link"></div>
<%= render 'contato' %>

<div id="localizacao-link"></div>
<%= render 'maps' %>