<%= form_for(@comment) do |f|%>

  <%= render 'devise/shared/error_messages', resource: f.object %>

  <div class="form-group field">
    <%= f.label :name %><br />
    <%= f.text_field :name, maxlength: 24, class: "form-control"  %>
  </div>

  <div class="form-group field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment, maxlength: 200, class: "form-control"  %>
  </div>

  <div class="form-group field">
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-secondary btn-block" %>
  </div>

<% end %>