<%= form_for(@public) do |f|%>

  <%= render 'devise/shared/error_messages', resource: f.object %>

  <div class="form-group field">
    <%= f.label :title %><br />
    <%= f.text_field :title, maxlength: 12, class: "form-control"  %>
  </div>

  <div class="form-group field">
    <%= f.label :resume %><br />
    <%= f.text_area :resume, maxlength: 94, class: "form-control"  %>
  </div>

  <div class="form-group field">
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-secondary btn-block" %>
  </div>

<% end %>