<h1><%= @public.title%></h1>

<div class="d-flex flex-row-reverse">
  <%= link_to "Novo", new_public_path, class: "btn btn-danger"%>
  <%= link_to "Editar", edit_public_path(@public), class: "btn btn-secondary"%>
</div>

<p>
  <strong>Resume</strong><br />
  <%= @public.resume %>
</p>

<p>
  <strong>Imagem<strong><br />
  <%= image_tag @public.image.variant(resize: "200x200") %>
</p>

