<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-danger" id="header">
  <div class="container">
    <%= image_tag 'logo.png', class: "navbar-brand d-block logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <%= link_to "Site", root_path, class: "nav-link"%>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#about-us-link">A Escola</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#aulas-link">Cursos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#turmas-link">Turmas</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#eventos-link">Eventos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#contato-link">Contatos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#localizacao-link">Localização</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item active dropdown">
            <a class="nav-link" 
               href="#" 
               id="userDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true" 
               aria-expanded="false"
              >
              <%= icon('fas', 'user') %>
              <%= current_user.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <%= link_to "Configurações", painel_path,  class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button class="btn btn-danger btn-block header-btn"> Matrícule-se </button>
        </li>
      </div>
    </div>
    </div>
</nav>