<!DOCTYPE html>
<html>
  <head>
    <title>Elitemusica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  </head>

  <body>

    <%= render 'layouts/admin_header' unless controller.controller_name == "sessions"%>
    <main class="container">
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' unless controller.controller_name == "sessions" %>
  </body>
</html>
